<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="EARProyecto">
        <wb-resource deploy-path="/" source-path="/EarContent" tag="defaultRootSource"/>
        <dependent-module archiveName="InterfaceProyecto.jar" deploy-path="/lib" handle="module:/resource/InterfaceProyecto/InterfaceProyecto">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="Web-Feria.war" deploy-path="/" handle="module:/resource/Web-Feria/Web-Feria">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>
