<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">


<head>
<meta charset="UTF-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<title>Proyecto Feria Ucentral</title>
<link
	href="https://fonts.googleapis.com/css?family=Dosis:600|Roboto:400,700"
	rel="stylesheet"></link>
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
	rel="stylesheet"></link>
<link href="resources/css/bootstrap.min.css" rel="stylesheet"></link>
<link href="resources/css/paper-kit.css?v=2.1.0" rel="stylesheet"></link>
<link href="respurces/styles/main.css" rel="stylesheet"></link>
</head>
<body id="top">
	<header>
		<div class="view" style="background-color: #296F06">
			<div class="aa-header">
				<nav class="navbar navbar-expand-md navbar-transparent">
					<div class="container">
						<img class="img-fluid"
							src="resources/images/Universidad Central.png" width="150"
							height="150" alt="logo"></img>
						<h1 class="text-white mt-3" style="text-align: center;">Sistema
							de Gestion de Proyecto de Feria</h1>
					</div>
				</nav>
		</div>
		</div>
	</header>
<body style="background-color: #55B027">
	<div class="container aa-header-content text-center text-white">
	<h:form id="ce">
	<div>
	<h2>Datos Personales</h2>
	</div>
	
	<blockquote> 
	<div>
	<label for="Identificacion">Identificacion</label>
	
	<div class="input-group " style="width = 50%">
	<input type="text" class="form-control" id="Identificacion" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" value="#{estBean.idEstudiante}"></input>
	</div>
	<label for="Contraseña" class="text-white">Contraseña:</label>
	<div class="input-group ">
	 <input type="text" class="form-control" id="Contraseña" placeholder="Contraseña" aria-label="Username" aria-describedby="basic-addon1" value="#{estBean.idEstudiante}"></input>
	</div>
</div>	
</blockquote>
	<div>
	<button type="button" class="btn btn-dark" onclick=" location.href='Inicio.xhtml' " >Ingresar</button>
</div>
</h:form>
</div>
</body>
<footer style="background-color: #296F06">

	<p style="text-align: center;">
		Universidad Central<br>Ingenieria de Software</br>
		<br>2019</br> 
	</p>

</footer>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/jquery-ui-1.12.1.custom.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/paper-kit.js?v=2.1.0"></script>
<script src="scripts/main.js"></script>
</body>
</html>